USE [WebsiteCinema]
GO
/****** Object:  Table [dbo].[ThongTin]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTin](
	[ThongTin_id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](max) NULL,
	[DiaChi] [varchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_ThongTin] PRIMARY KEY CLUSTERED 
(
	[ThongTin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[IdRap] [int] NULL,
	[NgayDat] [datetime2](7) NULL,
	[GiaVe] [decimal](18, 2) NULL,
	[Id_LichChieu] [int] NULL,
	[Soluong] [int] NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichChieu]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichChieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPhong] [int] NULL,
	[NgayChieu] [datetime] NOT NULL,
	[GioBatDau] [varchar](50) NOT NULL,
	[GioKetThuc] [varchar](50) NOT NULL,
	[IdPhim] [int] NULL,
 CONSTRAINT [PK_LichChieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRapChieu] [int] NULL,
	[TenPhong] [nvarchar](max) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrinhTrang] [bit] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RapPhim]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RapPhim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenRapChieu] [nvarchar](50) NOT NULL,
	[TongSoPhong] [int] NOT NULL,
	[ThanhPho] [nvarchar](max) NULL,
	[QuanHuyen] [nvarchar](max) NULL,
	[PhuongXa] [nvarchar](max) NULL,
	[KhungGio] [nvarchar](max) NULL,
 CONSTRAINT [PK_RapChieuPhim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](60) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[PhanQuyen] [varchar](50) NOT NULL,
	[id_ThongTin] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiGhe] [nvarchar](max) NOT NULL,
	[GiaGhe] [float] NOT NULL,
 CONSTRAINT [PK_LoaiGhe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[ghe_id] [bigint] IDENTITY(1,1) NOT NULL,
	[Loai_id] [int] NULL,
	[TringTrang] [bit] NOT NULL,
	[Id_phong] [int] NULL,
	[Id_Ve] [int] NULL,
	[TenGhe] [varchar](50) NULL,
 CONSTRAINT [PK_Ghe] PRIMARY KEY CLUSTERED 
(
	[ghe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VeViewModel]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VeViewModel]
AS
SELECT dbo.ThongTin.TenNguoiDung, dbo.ThongTin.DiaChi, dbo.ThongTin.GioiTinh, dbo.ThongTin.Email, dbo.RapPhim.TenRapChieu, dbo.RapPhim.ThanhPho, dbo.RapPhim.QuanHuyen, dbo.RapPhim.PhuongXa, dbo.TaiKhoan.TenDangNhap, 
                  dbo.Ve.NgayDat, dbo.Ve.GiaVe, dbo.Ve.Soluong, dbo.LichChieu.NgayChieu, dbo.LichChieu.GioBatDau, dbo.LichChieu.GioKetThuc, dbo.LoaiGhe.TenLoaiGhe, dbo.Phong.TenPhong
FROM     dbo.RapPhim INNER JOIN
                  dbo.LichChieu ON dbo.RapPhim.Id = dbo.LichChieu.Id INNER JOIN
                  dbo.TaiKhoan ON dbo.RapPhim.Id = dbo.TaiKhoan.Id INNER JOIN
                  dbo.Ve ON dbo.RapPhim.Id = dbo.Ve.IdRap AND dbo.LichChieu.Id = dbo.Ve.Id_LichChieu AND dbo.TaiKhoan.Id = dbo.Ve.IdTaiKhoan INNER JOIN
                  dbo.Ghe ON dbo.Ve.Id = dbo.Ghe.Id_Ve INNER JOIN
                  dbo.ThongTin ON dbo.TaiKhoan.id_ThongTin = dbo.ThongTin.ThongTin_id INNER JOIN
                  dbo.Phong ON dbo.RapPhim.Id = dbo.Phong.IdRapChieu AND dbo.LichChieu.IdPhong = dbo.Phong.Id AND dbo.Ghe.Id_phong = dbo.Phong.Id INNER JOIN
                  dbo.LoaiGhe ON dbo.Ghe.Loai_id = dbo.LoaiGhe.Id
GROUP BY dbo.ThongTin.TenNguoiDung, dbo.ThongTin.DiaChi, dbo.ThongTin.GioiTinh, dbo.ThongTin.Email, dbo.RapPhim.TenRapChieu, dbo.RapPhim.ThanhPho, dbo.RapPhim.QuanHuyen, dbo.RapPhim.PhuongXa, dbo.TaiKhoan.TenDangNhap, 
                  dbo.Ve.NgayDat, dbo.Ve.GiaVe, dbo.Ve.Soluong, dbo.LichChieu.NgayChieu, dbo.LichChieu.GioBatDau, dbo.LichChieu.GioKetThuc, dbo.LoaiGhe.TenLoaiGhe, dbo.Phong.TenPhong
GO
/****** Object:  View [dbo].[TaiKhoanViewModel]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TaiKhoanViewModel]
AS
SELECT dbo.TaiKhoan.TenDangNhap, dbo.TaiKhoan.MatKhau, dbo.TaiKhoan.NgayDangKy, dbo.TaiKhoan.TinhTrang, dbo.TaiKhoan.PhanQuyen, dbo.ThongTin.TenNguoiDung, dbo.ThongTin.DiaChi, dbo.ThongTin.GioiTinh, dbo.ThongTin.Email, 
                  dbo.ThongTin.NgaySinh
FROM     dbo.TaiKhoan INNER JOIN
                  dbo.ThongTin ON dbo.TaiKhoan.id_ThongTin = dbo.ThongTin.ThongTin_id
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id] [int] NOT NULL,
	[TenDanhMuc] [varchar](50) NOT NULL,
	[id_Phim] [int] NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](max) NOT NULL,
	[AnhPhim] [nvarchar](max) NOT NULL,
	[ThoiLuong] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[TinhTrang] [bit] NOT NULL,
	[IdLoaiPhim] [int] NOT NULL,
	[DienVien] [nvarchar](max) NOT NULL,
	[DaoDien] [varchar](max) NOT NULL,
	[NgayCongChieu] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[NamPhatHanh] [varchar](50) NULL,
	[ChatLuong] [varchar](50) NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhim]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiPhim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[PhimViewModel]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PhimViewModel]
AS
SELECT dbo.Phim.TenPhim, dbo.Phim.AnhPhim, dbo.Phim.ThoiLuong, dbo.Phim.MoTa, dbo.Phim.Id, dbo.Phim.TinhTrang, dbo.Phim.DienVien, dbo.Phim.DaoDien, dbo.Phim.NgayCongChieu, dbo.Phim.NgayKetThuc, dbo.Phim.NamPhatHanh, 
                  dbo.Phim.ChatLuong, dbo.LoaiPhim.TenLoai, dbo.DanhMuc.TenDanhMuc
FROM     dbo.DanhMuc INNER JOIN
                  dbo.LoaiPhim ON dbo.DanhMuc.id = dbo.LoaiPhim.Id INNER JOIN
                  dbo.Phim ON dbo.DanhMuc.id_Phim = dbo.Phim.Id AND dbo.LoaiPhim.Id = dbo.Phim.IdLoaiPhim
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPhim] [int] NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[NgayDang] [date] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[DanhGia] [int] NOT NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiDung]    Script Date: 12/2/2021 11:10:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiDung](
	[id] [int] NOT NULL,
	[Id_binhLuan] [int] NULL,
	[Id_TaiKhoan] [int] NULL,
 CONSTRAINT [PK_NoiDung] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([ghe_id], [Loai_id], [TringTrang], [Id_phong], [Id_Ve], [TenGhe]) VALUES (1, 1, 1, 1, 9, N'A1')
INSERT [dbo].[Ghe] ([ghe_id], [Loai_id], [TringTrang], [Id_phong], [Id_Ve], [TenGhe]) VALUES (2, 1, 0, 1, NULL, N'A2')
INSERT [dbo].[Ghe] ([ghe_id], [Loai_id], [TringTrang], [Id_phong], [Id_Ve], [TenGhe]) VALUES (3, 1, 0, 1, NULL, N'A3')
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[LichChieu] ON 

INSERT [dbo].[LichChieu] ([Id], [IdPhong], [NgayChieu], [GioBatDau], [GioKetThuc], [IdPhim]) VALUES (1, 1, CAST(N'2021-12-21T00:00:00.000' AS DateTime), N'19:30', N'20:20', NULL)
INSERT [dbo].[LichChieu] ([Id], [IdPhong], [NgayChieu], [GioBatDau], [GioKetThuc], [IdPhim]) VALUES (2, 1, CAST(N'2021-12-21T00:00:00.000' AS DateTime), N'20:20', N'21:20', NULL)
INSERT [dbo].[LichChieu] ([Id], [IdPhong], [NgayChieu], [GioBatDau], [GioKetThuc], [IdPhim]) VALUES (3, 1, CAST(N'2021-12-21T00:00:00.000' AS DateTime), N'21-20', N'11:50', NULL)
SET IDENTITY_INSERT [dbo].[LichChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGhe] ON 

INSERT [dbo].[LoaiGhe] ([Id], [TenLoaiGhe], [GiaGhe]) VALUES (1, N'Vip', 95000)
INSERT [dbo].[LoaiGhe] ([Id], [TenLoaiGhe], [GiaGhe]) VALUES (2, N'Thường', 45000)
SET IDENTITY_INSERT [dbo].[LoaiGhe] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhim] ON 

INSERT [dbo].[LoaiPhim] ([Id], [TenLoai]) VALUES (1, N'Hành Động')
INSERT [dbo].[LoaiPhim] ([Id], [TenLoai]) VALUES (2, N'Siêu Anh Hung')
INSERT [dbo].[LoaiPhim] ([Id], [TenLoai]) VALUES (3, N'Hoạt Hình')
SET IDENTITY_INSERT [dbo].[LoaiPhim] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([Id], [IdRapChieu], [TenPhong], [SoLuong], [TrinhTrang], [MoTa]) VALUES (1, 2, N'Phong Vip', 13, 1, N'Phòng Cao Cấp')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[RapPhim] ON 

INSERT [dbo].[RapPhim] ([Id], [TenRapChieu], [TongSoPhong], [ThanhPho], [QuanHuyen], [PhuongXa], [KhungGio]) VALUES (1, N'Cinestar Quốc Thanh ', 12, N'HCM', N'Q9', NULL, NULL)
INSERT [dbo].[RapPhim] ([Id], [TenRapChieu], [TongSoPhong], [ThanhPho], [QuanHuyen], [PhuongXa], [KhungGio]) VALUES (2, N'DCINE Bến Thành ', 12, N'HN', N'Mỹ Đình', NULL, NULL)
INSERT [dbo].[RapPhim] ([Id], [TenRapChieu], [TongSoPhong], [ThanhPho], [QuanHuyen], [PhuongXa], [KhungGio]) VALUES (4, N'Galaxy Nguyễn Du', 12, N'HCM', N'q1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[RapPhim] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [NgayDangKy], [TinhTrang], [PhanQuyen], [id_ThongTin]) VALUES (1, N'username', N'12345678', CAST(N'2020-09-12' AS Date), 0, N'MANAGA', 1)
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [NgayDangKy], [TinhTrang], [PhanQuyen], [id_ThongTin]) VALUES (3, N'test', N'12345678', CAST(N'2012-12-12' AS Date), 0, N'MANAGA', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongTin] ON 

INSERT [dbo].[ThongTin] ([ThongTin_id], [TenNguoiDung], [DiaChi], [GioiTinh], [NgaySinh], [Email]) VALUES (1, N'Nguyyễn Van A', N'HCM', N'Nam', CAST(N'2020-12-20T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ThongTin] ([ThongTin_id], [TenNguoiDung], [DiaChi], [GioiTinh], [NgaySinh], [Email]) VALUES (2, N'Nguy?n Van c', N'HN', N'n?', CAST(N'2020-12-11T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[ThongTin] ([ThongTin_id], [TenNguoiDung], [DiaChi], [GioiTinh], [NgaySinh], [Email]) VALUES (3, N'1313213', N'12321321', N'nam', CAST(N'2020-12-12T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ThongTin] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([Id], [IdTaiKhoan], [IdRap], [NgayDat], [GiaVe], [Id_LichChieu], [Soluong]) VALUES (1, 1, 2, CAST(N'2021-12-02T10:03:26.3158384' AS DateTime2), CAST(380000.00 AS Decimal(18, 2)), 2, 4)
INSERT [dbo].[Ve] ([Id], [IdTaiKhoan], [IdRap], [NgayDat], [GiaVe], [Id_LichChieu], [Soluong]) VALUES (2, 1, 2, CAST(N'2021-12-02T15:08:16.7137483' AS DateTime2), CAST(135000.00 AS Decimal(18, 2)), 5, 3)
INSERT [dbo].[Ve] ([Id], [IdTaiKhoan], [IdRap], [NgayDat], [GiaVe], [Id_LichChieu], [Soluong]) VALUES (3, 1, 1, CAST(N'2021-12-02T15:12:52.8394296' AS DateTime2), CAST(285000.00 AS Decimal(18, 2)), 6, 3)
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [DF__Phong__Daxoa__4BAC3F29]  DEFAULT (CONVERT([bit],(0),(0))) FOR [TrinhTrang]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_Phim] FOREIGN KEY([IdPhim])
REFERENCES [dbo].[Phim] ([Id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_Phim]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_Phim] FOREIGN KEY([id_Phim])
REFERENCES [dbo].[Phim] ([Id])
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [FK_DanhMuc_Phim]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_LoaiGhe] FOREIGN KEY([Loai_id])
REFERENCES [dbo].[LoaiGhe] ([Id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_LoaiGhe]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Phong] FOREIGN KEY([Id_phong])
REFERENCES [dbo].[Phong] ([Id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Phong]
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD  CONSTRAINT [FK_Ghe_Ve] FOREIGN KEY([Id_Ve])
REFERENCES [dbo].[Ve] ([Id])
GO
ALTER TABLE [dbo].[Ghe] CHECK CONSTRAINT [FK_Ghe_Ve]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LichChieu_Phim] FOREIGN KEY([IdPhim])
REFERENCES [dbo].[Phim] ([Id])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LichChieu_Phim]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [FK_LichChieu_Phong] FOREIGN KEY([IdPhong])
REFERENCES [dbo].[Phong] ([Id])
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [FK_LichChieu_Phong]
GO
ALTER TABLE [dbo].[NoiDung]  WITH CHECK ADD  CONSTRAINT [FK_Bl_TK] FOREIGN KEY([Id_binhLuan])
REFERENCES [dbo].[BinhLuan] ([Id])
GO
ALTER TABLE [dbo].[NoiDung] CHECK CONSTRAINT [FK_Bl_TK]
GO
ALTER TABLE [dbo].[NoiDung]  WITH CHECK ADD  CONSTRAINT [FK_TK_BL] FOREIGN KEY([Id_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[NoiDung] CHECK CONSTRAINT [FK_TK_BL]
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [FK_Phim_LoaiPhim] FOREIGN KEY([IdLoaiPhim])
REFERENCES [dbo].[LoaiPhim] ([Id])
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [FK_Phim_LoaiPhim]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Rap] FOREIGN KEY([IdRapChieu])
REFERENCES [dbo].[RapPhim] ([Id])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Rap]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ThongTin] FOREIGN KEY([id_ThongTin])
REFERENCES [dbo].[ThongTin] ([ThongTin_id])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ThongTin]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_LichChieu] FOREIGN KEY([Id_LichChieu])
REFERENCES [dbo].[LichChieu] ([Id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_LichChieu]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Rap] FOREIGN KEY([IdRap])
REFERENCES [dbo].[RapPhim] ([Id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_Rap]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_TaiKhoan] FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_TaiKhoan]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DanhMuc"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 140
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LoaiPhim"
            Begin Extent = 
               Top = 0
               Left = 421
               Bottom = 119
               Right = 615
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Phim"
            Begin Extent = 
               Top = 129
               Left = 775
               Bottom = 385
               Right = 1090
            End
            DisplayFlags = 280
            TopColumn = 5
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PhimViewModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PhimViewModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TaiKhoan"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "ThongTin"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 486
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TaiKhoanViewModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TaiKhoanViewModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ghe"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "LichChieu"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "RapPhim"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 170
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "TaiKhoan"
            Begin Extent = 
               Top = 7
               Left = 774
               Bottom = 170
               Right = 968
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Ve"
            Begin Extent = 
               Top = 7
               Left = 1016
               Bottom = 170
               Right = 1210
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "ThongTin"
            Begin Extent = 
               Top = 7
               Left = 1258
               Bottom = 170
               Right = 1454
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Phong"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 242
            End
            DisplayFlags = 280
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VeViewModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'   TopColumn = 2
         End
         Begin Table = "LoaiGhe"
            Begin Extent = 
               Top = 175
               Left = 290
               Bottom = 316
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VeViewModel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VeViewModel'
GO
